<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Salutem</title>
</head>
<body>

<ul>
    {% for healthcare_center in healthcare_centers %}
        <li>
            <a href="{{ path('app_healthcarecenter_show', {'slug': healthcare_center.slug}) }}">
                {{ healthcare_center.name }}
            </a>
        </li>
    {% endfor %}
</ul>

</body>
</html>