{% extends 'admin/base.html.twig' %}

{% block title %}New Skill{% endblock %}

{% block body %}
    <h1>Create new Skill</h1>

    {{ include('admin/skill/_form.html.twig') }}

    <a href="{{ path('app_admin_skill_index') }}" class="btn btn-secondary">back to list</a>
{% endblock %}
