<div class="navbar">
    <div class="container">
        <nav>
            <ul>
                <li><a href="#">Accueil</a></li>
                <li><a href="#">La maison médicale</a></li>
                <li><a href="#">Nos docteurs</a></li>
                <li><a href="#">Nous contacter</a></li>
            </ul>
        </nav>
    </div>
</div>